.App {
  text-align: center;
}

.navbar-brand{
  color:purple;
}

.navbar{
  background-color: rgb(237, 216, 237);
  margin-bottom: 1.5em;
}

.error{
  color:darkred;
}

#clickableHeading{
  cursor: pointer;
}
